body {
    font-family: 'Kalam';
}

a {
    text-decoration: none;
}

td {
    text-align: center;
    padding: 0px 5px;
    padding-top: 10px;
}

table {
    width: 80%;
    margin-left: 10%;
    border-radius: 3px;
    border-collapse: none;
}

table > tbody > tr:nth-child(1) > td {
    background-color: red;
    color: white;
    font-size: 25px;
}

table tr td {
    font-size: 25px;
}

div.agregar > h3 > a {
    color: white;
    font-size: 24px;
}

div.agregar > h3 > a:hover {
    color: lightgrey;
}

div.agregar > h3 > a > div {
    border: 1px solid white;
    display: inline;
    font-size: 24px;
    padding: 0px 10px;
    border-radius: 90px;
    background-color: white;
    color: limegreen;
}

form, h3.form {
    margin-left: 10%;
}

h3.form {
    font-size: 32px;
}

table form {
    margin-left: 0px;
}

input.largo {
    width: 200px;
}

input.corto {
    width: 80px;
}

form span, form span + input {
    font-size: 18px;
}

.submit {
    font-family: 'Kalam';
    font-size: 20px;
    color: cyan;
    text-shadow: 0.5px 0.5px 2px rgb(0, 72, 255), -0.5px -0.5px 2px rgb(0, 72, 255);
    border: 0;
    background-color: white;
}

.submit:hover {
    color: rgb(0, 72, 255);
}

div.agregar {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    margin: 0px 0px 20px 150px;
    padding-left: 15px;
    padding-bottom: 12px;
    background-color: limegreen;
}

h2.nombre {
    border-bottom: 2px dashed red;
    width: 100px;
    margin-left: 38%;
    font-size: 50px;
}